
.bg-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}

.first-main-title{
    padding-top: 140px;
    padding-left: 92px;
    font-size: 70px;
}

.main-title{
    font-size: 85px;
    padding-top: 125px;
    font-weight: 100;
}

.home-description{
    width: 670px;
    height: 260px;
    letter-spacing: 1.7px;
    padding-left: 95px;
    line-height: 40px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../final_landing_page_mockup.png');
    background-size: cover;
    z-index: 1; 
}
.green-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px; 
    height: 100%;
    background-image: url('../lato.png');
    background-size: contain;
    z-index: 2; 
}

.about-title{
    color: white;
    padding-left: 7rem;
    padding-top: 9rem;
    font-size: 100px;
}

.about-p {
    color: white;
    padding-top: 4rem;
    padding-left: 7rem;
    padding-right: 45rem;
    line-height: 45px;
    font-size: 15px;
}